body{
    color: black;
    background-color:white;
    background-image:url("https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-business-resume-background-material-image_177422.jpg");
    background-repeat:no-repeat;
    background-size:cover;

}
h2{
    color:blue;
}
h6{
    font-family: 'faster One', cursive;color:black;
}
